{% extends 'base.html.twig' %}

{% block title %}Hello TagController!{% endblock %}

{% block main %}


    <section class="container my-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>
                Il y a {{ tags | length }}
                    {% if tags | length > 1 %} tags
                        {% else %}tag
                    {% endif %}
                actuellement.
            </h1>
            <a href="{{ path('tag_create') }}" class="btn btn-primary">Créer un nouveau tag</a>
        </div>

        <div class="row">
            {% for tag in tags %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <a href="{{ path('tag_show', {id:tag.id}) }}">
                        <div class="card shadow-sm h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{ tag.name }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>


{% endblock %}
